* {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px auto;
  max-width: 1440px;
}

/* Navigation Style */
nav {
  padding: 37px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.logo_container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 86px;
  height: 40px;
}

.logo_text {
  color: #0B0223;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.logo_special_char {
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: #3C354F;
  text-align: center;
  font-weight: 500;
}

.navigation_item {
  color: #3C354F;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
}

.social_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  column-gap: 20px;
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
}

.social_icon {
  width: 33.916px;
  font-size: 25px;
}

/* Hero section css */

.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 37px 37px 0px 37px;
}

.hero_details {
  width: 50%;
}

.hero_heading {
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px;
}

.special_heading {
  font-size: 95px;
  font-weight: 800;
  margin: 0px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_features_text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero_btn_container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  column-gap: 20px;
} 

.sign_in_btn , .go_rogue_btn {
  color: white;
  padding: 21px 40px;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.go_rogue_btn {
  background: #4EC5F7;
}

.hero_img_container {
  width: 50%;
}

.hero_img {
  display: inline-block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* online funny games video */

.funny_video_container {
  padding: 37px 37px 0px 37px;
}

.video_heading {
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.special_video_heading {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}

.video_title {
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.video_card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.video_card_item {
  padding: 10px;
}

.video_card_item > img  {
  width: 100%;
}

.video_card_item > p {
  color: #534C64;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

/* feature container */

.feature_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 37px 37px 0px 37px;
}

.feature_img_container {
  width: 40%;
  position: relative;
}

.feature_img {
  width: 100%;
  object-fit: contain;
}

.float_img {
position: absolute;
width: 300px;
bottom: -150px;
right: -150px;
}

.feature_details_container {
  width: 60%;
  padding-left: 180px;
  padding-right: 50px;
}

.feature_heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #0B0223;
}

.special_feature_heading {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.feature_text {
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* career section */

.career_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  padding: 0px 37px 0px 37px;
  background-color: #F948B2;
}

.career_details {
  padding-top: 50px;
  padding-bottom: 50px;
  }

.career_heading {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.career_desc {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.career_position_container {
display: flex;
justify-content: space-between;
}

.career_position_location {
text-align: right;
}

.career_btn {
  padding: 21px 40px;
  border: none;
  border-radius: 48px;
  background: #FFF;
}

.career_position_container > ul {
  list-style: none;
  padding-left: 0px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}

.career_img {
  width: 100%;
}

/* games section */